VITE_SUPABASE_URL=https://dbczpbvhmpiebmwiugtt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRiY3pwYnZobXBpZWJtd2l1Z3R0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE0MzY1MiwiZXhwIjoyMDg5NzE5NjUyfQ.ANcUQH3s-FWU4uEDLE1btP-417UQIZ2yxmt4ShD2L3E
VITE_COMMUNITY_LINK=https://link-da-sua-comunidade.com
